/* General Styles */
body {
    font-family: 'Times New Roman', serif;
    background-color: #f0f0f0;
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #c9c3c3; /* Dark background color */ 
    }
}
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Full viewport height */;
}

.login-container {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    padding: 20px;
    background-color: #fff; /* Optional: Add a background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
    border-radius: 8px; /* Optional: Add rounded corners */
}

#logo-login {
    width: 100%;
    max-width: 200px; /* Adjust as needed */
    padding: 10x;
}

/* Headings */

.custom-heading {
    font-size: 2.5rem; /* Adjusted for better scaling */
    font-weight: bold;
    color: #000;
    padding: 25px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    height: 200px;
    background-color: #F0F0F0;
}

.custom-subheading {
    font-size: 2rem; /* Adjusted for better scaling */
    font-weight: 600;
    color: #333;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    background-color: #ffffff;
    letter-spacing: 1px;
    margin-bottom: 20px;
    border: 2px solid #dee2e6; /* Light border for definition */
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.logo {
    width: auto;
    height: auto;
    max-height: 150px;
    object-fit:inherit;
    margin-bottom: 10px;
}


/* Main Container */
.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items at the start */
    padding-top: 20px;
    margin-left: 15vw;
}

/* Left Container */
.left-container {
    border-radius: 25px;
    flex-grow: 2; /* Grow twice as much as the right container */
    flex-basis: 0; /* Allow flex-grow to control the width */
    max-width: 1200px;
    margin-right: 5px; /* Reduced margin */
    border: 1px inset;
    background-color: #f9f9f9;
}

.form-container {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 5px solid #4CAF50; /* Example border */
}

/* Right Container */
.right-container {
    border-radius: 25px;
    flex-grow: 1; /* Grow normally */
    flex-basis: 0; /* Allow flex-grow to control the width */
    max-width: 600px;
    width: 300px;
    margin-left: 5px; /* Reduced margin */
    border: 1px inset rgb(0, 0, 0);
    background-color: #f9f9f9;
    position: sticky; /* Use sticky positioning */
    top: 10px; /* Adjust as needed */
    max-height: 100vh;
    z-index: 1000; /* Ensure it stays on top of other elements */
    overflow-y: auto;
}

/* Buttons */
#checkout-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: auto;
    display: block;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px; /* Increase margin to add space between button and transaction log */
}

#checkout-button:hover {
    background-color: #0056b3;
}

#checkout-button:disabled {
    background-color: grey;
}

/* Forms */
#nric-form {
    padding: 10px;
    font-size: 20px;
    width: 100%; /* Ensure the form takes full width */
    margin: auto;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items:  center; /* Align items to the start */
    gap: 5px; /* Reduce space between elements */
}

.form-group {
    display: flex;
    flex-direction: row; /* Arrange input and button in a row */
    justify-content: flex-start; /* Align items to the start */
    align-items: center; /* Center items vertically */
    gap: 10px; /* Add space between input and button */
}

#nric-input {
    width: 300px;
}

#status-text {
    width: 300px; /* Match the width of the input */
    text-align: left; /* Align text to the left */
    margin-top: 0px; /* Reduce space above the status text */
    font-size: 15px;
    border-radius: 5px;
}
.status-text.error {
    color: #ff0000; /* Red color for errors */
}

.status-text.success {
    color: #4CAF50; /* Green color for success */
}

/* Items Container */
#items-container {
    padding: 10px;
    font-size: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

/* Product cards */
.product-card {
    flex: 1 1 calc(25% - 20px); /* 4 cards per row with some spacing */
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    min-width: calc(1rem + 0.5vw);
    font-size: calc(1rem + 0.5vw);
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s;
}

/* Adjust for tablets */
@media (max-width: 1024px) {
    .product-card {
        flex: 1 1 calc(33.33% - 20px); /* 3 cards per row */
    }
}

/* Adjust for large smartphones */
@media (max-width: 768px) {
    .product-card {
        flex: 1 1 calc(50% - 20px); /* 2 cards per row */
    }
}

/* Adjust for small smartphones */
@media (max-width: 480px) {
    .product-card {
        flex: 1 1 calc(100% - 20px); /* 1 card per row */
    }
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit:inherit;
    margin-bottom: 10px;
}

.product-name {
    font-size: calc(1rem + 0.5vw);
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    color: #2196F3;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.quantity-decrease, .quantity-increase {
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px;
}

/* Media query for devices with a max width of 600px */
@media (max-width: 1024) {
    .quantity-decrease, .quantity-increase {
        width: 10px;
        height: 10px;
        font-size: 10px;
    }
}

/* Media query for devices with a max width of 400px */
@media (max-width: 768) {
    .quantity-decrease, .quantity-increase {
        width: 15px;
        height: 15px;
        font-size: 10px;
    }
}

/* Media query for devices with a max width of 400px */
@media (max-width: 480) {
    .quantity-decrease, .quantity-increase {
        width: 10px;
        height: 10px;
        font-size: 5px;
    }
}

.product-quantity {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/* Total Counter */
#total-counter {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    max-width: 300px;
    border-radius: 5px;
    flex-wrap: wrap; /* Add this line to allow wrapping */
}
#client-name {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    flex-wrap: wrap; /* Allow text to wrap */
    width: auto; /* Allow width to adjust based on content */
    height: auto;
}

/* Transaction Log */
#transaction-log {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    overflow-y: auto; /* Enable vertical scrolling */
}

.transaction-entry {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction-entry .item-name {
    font-weight: bold;
    flex: 1;
}

.transaction-entry .item-price,
.transaction-entry .item-quantity, 
.transaction-entry .item-total {
    color: #555;
    flex: 1;
    text-align: center;
    margin-right: 10px;
    padding:10px;
}

.transaction-entry.total-counter {
    font-weight: bold;
    margin-top: 10px;
    border-top: 2px solid #ddd;
    padding-top: 10px;
}


.sidebar {
    background: linear-gradient(to right, #f0f0f0, #ddceba);
    opacity: 0.8;
    color: rgb(0, 0, 0);
    height: 100vh;
    position:fixed;
    padding: 1px;
}

.sidebar h2 {
    text-align: center;
    height: auto;
    object-fit: contain;
    font-size:large;
    font-weight: bolder;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    flex-direction: column;
    align-items: center;
    height: auto;
    object-fit: contain;
}

.sidebar ul li {
    margin: 15px ;
    flex-direction: column;
    align-items: center;
}

.sidebar ul li a {
    color: rgb(50, 48, 48);
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: #575757;
}
.sidebar img{
    max-width: 80%;
    height: auto;
    object-fit: contain;
}

.content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
}