<!DOCTYPE html>

<html lang ="en">
    <head>
        <meta name = "viewport" content = "initial-scale=1", width="device-width">
        <title>FG+ 2.0</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">   
        <link rel="stylesheet" href="static/style.css"></style>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    <script src="static/js/script.js"></script>
    <script>
        const items = {{ items|tojson if items is defined else '[]'}}
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>